p {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
	text-align: center;
	color: white
}

h1 {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
	text-align: center;
	color: white
}

body {
	background-image: url('assets/tumblr_p1r7bcLaUW1wz1x3zo3_400.gif');
	background-repeat;
}

h2 {
	font-family: "Comic Sans MS", "Comic Sans", cursive;
	text-align: center;
	color: white
}
