p {
    font-family: Helvetica, Geneva, Arial,
    SunSans-Regular, sans-serif;
	text-align: center;
	color: white
}

h1 {
    font-family: Helvetica, Geneva, Arial,
    SunSans-Regular, sans-serif;
	text-align: center;
	color: white
}

body {
	background-image: url('assets/tumblr_p1r7bcLaUW1wz1x3zo3_400.gif');
	background-repeat;
}